In [1]:
import numpy as np 
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
match = pd.read_csv("matches.csv")
delivery = pd.read_csv("deliveries.csv")

ipl = delivery.merge(match,left_on = 'match_id', right_on = 'id')
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,...,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen

In [3]:
top50 = ipl.groupby('batter')['batsman_runs'].sum().nlargest(50).index.tolist()

In [4]:
new_ipl=ipl[ipl['batter'].isin(top50)]

In [6]:
runs = new_ipl.groupby('batter')['batsman_runs'].sum()
balls = new_ipl.groupby('batter')['batsman_runs'].count()

sr = (runs/balls)*100

sr = sr.reset_index()
sr

            batter  batsman_runs
0   AB de Villiers    148.580442
1       AD Russell    164.224422
2         AJ Finch    123.349057
3        AM Rahane    120.321410
4        AT Rayudu    124.584527
5      BB McCullum    126.848592
6         CH Gayle    142.121729
7        DA Miller    134.684477
8        DA Warner    135.429986
9         DR Smith    132.279534
10    F du Plessis    133.071325
11       G Gambhir    119.665153
12      GJ Maxwell    150.488599
13       HH Pandya    139.691290
14    Ishan Kishan    132.797589
15      JC Buttler    142.238984
16       JH Kallis    105.936272
17      KA Pollard    140.457703
18      KD Karthik    131.353404
19        KL Rahul    131.050866
20   KS Williamson    122.952710
21         M Vijay    118.614130
22      MA Agarwal    128.255646
23       MK Pandey    117.366180
24        MS Dhoni    132.835065
25          N Rana    130.818859
26        PA Patel    116.625717
27       Q de Kock    131.120332
28        R Dravid    113.347237
29       RA Jadeja    124.432296
30     RA Tripathi    135.515152
31      RD Gaikwad    133.632791
32       RG Sharma    127.918194
33         RR Pant    143.597561
34      RV Uthappa    126.152279
35        S Dhawan    123.454313
36        SA Yadav    142.505948
37        SE Marsh    130.109775
38        SK Raina    132.535312
39       SPD Smith    124.812406
40    SR Tendulkar    114.187867
41       SR Watson    134.163209
42         SS Iyer    123.025540
43       SV Samson    135.137615
44    Shubman Gill    132.236842
45         V Kohli    128.511867
46        V Sehwag    148.827059
47         WP Saha    123.902027
48       YK Pathan    138.046272
49    Yuvraj Singh    124.784776

In [8]:
sr = sr.rename(columns={'batter': 'batsman', 'batsman_runs': 'strike_rate'})
sr

           batsman  strike_rate
0   AB de Villiers   148.580442
1       AD Russell   164.224422
2         AJ Finch   123.349057
3        AM Rahane   120.321410
4        AT Rayudu   124.584527
5      BB McCullum   126.848592
6         CH Gayle   142.121729
7        DA Miller   134.684477
8        DA Warner   135.429986
9         DR Smith   132.279534
10    F du Plessis   133.071325
11       G Gambhir   119.665153
12      GJ Maxwell   150.488599
13       HH Pandya   139.691290
14    Ishan Kishan   132.797589
15      JC Buttler   142.238984
16       JH Kallis   105.936272
17      KA Pollard   140.457703
18      KD Karthik   131.353404
19        KL Rahul   131.050866
20   KS Williamson   122.952710
21         M Vijay   118.614130
22      MA Agarwal   128.255646
23       MK Pandey   117.366180
24        MS Dhoni   132.835065
25          N Rana   130.818859
26        PA Patel   116.625717
27       Q de Kock   131.120332
28        R Dravid   113.347237
29       RA Jadeja   124.432296
30     RA Tripathi   135.515152
31      RD Gaikwad   133.632791
32       RG Sharma   127.918194
33         RR Pant   143.597561
34      RV Uthappa   126.152279
35        S Dhawan   123.454313
36        SA Yadav   142.505948
37        SE Marsh   130.109775
38        SK Raina   132.535312
39       SPD Smith   124.812406
40    SR Tendulkar   114.187867
41       SR Watson   134.163209
42         SS Iyer   123.025540
43       SV Samson   135.137615
44    Shubman Gill   132.236842
45         V Kohli   128.511867
46        V Sehwag   148.827059
47         WP Saha   123.902027
48       YK Pathan   138.046272
49    Yuvraj Singh   124.784776